<section class="home">
    <div class="home-login">
        <div class="form-container">
            <h1>Voyages</h1>
            <%= form_for(:user, url: session_path(:user)) do |f| %>
                <%= f.text_field :email, placeholder: 'E-mail', class: 'input' %>
                <%= f.password_field :password, placeholder: 'Mot de passe', class: 'input' %>
                <button class="button" type="submit">
                    Se connecter
                </button>
            <% end %>
        </div>
    </div>
    <footer>
        <%= link_to "S'enregistrer", new_user_registration_path, class: 'button' %>
    </footer>
</section>